.header {
    height: 100px;
    background: #A9A9A9;
    width: 50%;
    padding: 10px;
    margin: 10px 10px;
}


tr.tr_head{
    background: #A9A9A9;
    color: #FFFFFF
}

.logo {
    text-align: center;
    color: #FFFFFF;
}

th,td{
    min-width: 60px;
    height:10px;
    text-align: left;
    border: 1px solid black;
    padding: 4px;
}

table {
    border-collapse: collapse;
    display: table;
    border-color: #DCDCDC;
    width:50%;
    padding: 10px;
    margin: 10px 10px;
}




