<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../static/test/css/styles.css" />

</head>
<body>
<div class="header">
    <div class="logo">
        <h1>Statistics</h1>
    </div>
</div>

<table class="table">
	<thead>
		<tr class="tr_head">
            <th></th>
			<th>Min value</th>
			<th>Max value</th>
			<th>Mean value</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ALL</th>
            <td>{{ count_all.min }}</td>
            <td>{{ count_all.max }}</td>
            <td>{{ count_all.avg }}</td>

		</tr>

        <tr>

			<th>Last 100</th>
            <td>{{ count_100.min }}</td>
            <td>{{ count_100.max }}</td>
            <td>{{ count_100.avg }}</td>
		</tr>

	</tbody>

    <thead>
        <tr class="tr_head">


			<th>№</th>
			<th>Date</th>
			<th>Value(%)</th>
		</tr>
	</thead>
	<tbody>
		<tr></tr>
	</tbody>


        <tr>
            <td>
                {% for dates in data %}
                    <p>{{ dates.id }}</p>
                {% endfor %}
            </td>
            <td>
                {% for dates in data %}
                    <p>{{ dates.datetime }}</p>
                {% endfor %}
            </td>
            <td>
                {% for dates in data %}
                    <p>{{ dates.value }}</p>
                {% endfor %}
            </td>
		</tr>
	</tbody>

</table>



